* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

div#loading{
    position: absolute;
    width:100vw;
    height:100vh;
    left: 0;
    top:0;
    margin: auto;
    background: #262626;
    color: lightslategray;
    font-size: 5em;
    text-align: center;
}

div#loading p {
    line-height: 100px;
    margin: calc(50vh - 150px) auto auto auto;
}

table {
    border: #262626 2px solid;
    text-align: center;
}
tr {

}
th {
    font-weight: bold;
}
td {
    border: #464646 1px solid;
    min-width: 200px;
}